@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #81cdd1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.form-top {
    background-color: #fc6539;
    padding-bottom: 40px;
    border-radius: 6px 6px 0 0;
    width: 600px;
}

.form-top h1 {
    font-size: 24px;
    line-height: 45px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-family: "Open Sans";
    text-align: center;
    filter: drop-shadow(0.5px 0.866px 0px #cd502c);
    padding-top: 40px;
}

.form-inputs input {
    background-color: #ba3c24;
    border: none;
    outline: none;
    width: 100%;
    font-size: 24px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 20px 15px;
    border-radius: 6px;
    margin-top: 20px;
}

.form-inputs input::placeholder {
    color: white;
    opacity: 0.8;
}

.form-inputs input:focus::placeholder {
    color: white;
    opacity: 0.4;
}

.form-bottom {
    background-color: #ba3c24;
    width: 600px;
    padding: 50px 0;
    border-radius: 0 0 6px 6px;
}

.form-bottom a {
    font-size: 24px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    margin-right: 45px;
    text-decoration: none;
}

.form-bottom button {
    width: 250px;
    height: 70px;
    border-radius: 6px;
    background-color: #ffffff;
    border: none;
    font-size: 24px;
    line-height: 45px;
    color: #ba3c24;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    cursor: pointer;
}

#welcome {
    font-size: 64px;
    font-family: "Open Sans";
    color: #fc6539;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}